<div class="top-products">
	<div class="container">
		
		<div class="sap_tabs">			
			<div id="horizontalTab">
				
				<div class="clearfix"> </div>	
				<div class="resp-tabs-container">
					<input placeholde="category name" type="text" [(ngModel)]="data.name">
					<input placeholde="category status" type="text" [(ngModel)]="data.status">
          <button type="button" (click)="addCategory()">Add</button>	
          <span>{{messagess}}</span>					
				</div>
			</div>
		</div>	
	</div>
</div>

